Calibrating a logistic regression model for the probability of credit default

In [1]:
!pip install statsmodels
!pip install xlrd

Requirement already satisfied: statsmodels in c:\users\hp\appdata\local\enthought\canopy\edm\envs\user\lib\site-packages

You are using pip version 9.0.3, however version 20.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: xlrd in c:\users\hp\appdata\local\enthought\canopy\edm\envs\user\lib\site-packages

You are using pip version 9.0.3, however version 20.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
#Import necessary packages
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.metrics import classification_report,confusion_matrix

In [3]:
#Load Data
CreditData = pd.read_excel("CreditData2020.xls") 

# have a look at the data headers print(CreditData.head(0))
# get basic descriptive statistics of the data print(CreditData.describe())

In [4]:
CreditData

,No,Status,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan
0,1,0,5,other,23,female,single,no,fixed,35,120,0,0,1300,5.0
1,2,0,23,rent,47,male,single,no,fixed,44,86,0,0,350,2.0
2,3,0,19,other,55,male,married,no,fixed,45,118,4000,0,1300,5.0
3,4,0,12,rent,37,female,married,yes,fixed,86,110,0,0,700,5.0
4,5,0,3,other,21,female,single,yes,fixed,35,75,0,0,500,1.5
5,6,0,0,other,31,male,single,no,partime,35,65,2500,0,1000,4.0
6,7,1,20,rent,47,female,married,no,fixed,85,100,8000,0,1250,5.0
7,8,0,15,owner,42,male,single,no,fixed,35,90,5000,3000,1000,3.0
8,9,0,3,owner,27,female,married,no,fixed,35,120,4000,1500,1800,5.0
9,10,0,20,owner,41,female,married,no,freelance,90,250,13500,0,1900,3.0
10,11,1,0,owner,42,male,married,yes,partime,35,130,7000,3000,950,5.0
11,12,1,3,other,29,male,married,no,freelance,35,128,0,0,1100,5.0
12,13,0,16,owner,40,female,married,yes,fixed,75,120,5000,2000,400,5.0
13,14,1,14,rent,33,female,married,no,fixed,65,45,0,0,1300,4.0
14,15,1,4,owner,37,female,married,no,fixed,75,116,3000,575,950,5.0
15,16,0,0,owner,61,male,widow,no,others,35,35,4000,200,650,4.0
16,17,0,8,other,27,male,single,no,fixed,35,107,0,0,400,3.5
17,18,1,1,rent,32,female,single,no,freelance,35,89,0,0,290,2.0
18,19,0,1,other,24,female,single,no,fixed,35,90,0,0,800,5.0
19,20,0,12,owner,28,male,single,no,fixed,35,126,15000,0,1350,5.0
20,21,0,20,other,38,female,married,yes,freelance,60,64,25000,0,1500,3.0
21,22,0,3,other,23,male,single,no,fixed,45,113,4000,0,900,5.0
22,23,0,2,other,26,female,single,no,fixed,35,79,0,0,590,2.0
23,24,1,1,other,34,female,married,no,fixed,75,190,0,0,700,5.0
24,25,0,4,rent,42,male,married,no,freelance,100,245,0,0,1450,4.0
25,26,1,5,other,41,male,divorced,no,freelance,35,74,0,0,500,2.0
26,27,1,5,other,50,female,married,no,fixed,60,165,8000,0,750,3.0
27,28,0,4,owner,28,female,married,no,fixed,60,459,22000,9700,600,5.0
28,29,0,17,rent,50,female,married,no,freelance,68,79,1000,0,1000,2.0
29,30,0,0,other,50,male,married,no,partime,60,162,20000,0,1000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416,4417,0,18,owner,38,female,married,no,freelance,75,229,8000,0,1700,3.5
4417,4418,0,4,other,43,male,married,no,freelance,45,125,0,0,400,2.0
4418,4419,1,2,other,49,female,married,yes,others,45,50,0,0,1600,3.0
4419,4420,0,5,other,50,male,married,no,others,90,154,0,0,1000,3.0
4420,4421,1,0,owner,33,female,married,no,partime,45,128,4500,0,1250,5.0
4421,4422,0,16,owner,40,female,married,no,fixed,60,160,4000,0,1300,3.0
4422,4423,0,4,other,26,male,single,no,fixed,35,104,2500,2000,1048,5.0
4423,4424,0,3,other,23,female,single,no,fixed,35,107,0,0,800,5.0
4424,4425,0,3,owner,36,male,single,yes,freelance,35,394,16000,0,1500,3.0
4425,4426,0,17,owner,33,female,married,no,fixed,60,115,6700,2000,1000,3.0
4426,4427,0,11,owner,33,male,married,no,fixed,60,106,6000,0,1500,5.0
4427,4428,0,6,owner,34,male,married,yes,fixed,60,148,9000,4090,500,3.0
4428,4429,0,16,rent,32,male,single,yes,fixed,47,120,0,0,800,4.0
4429,4430,1,1,rent,24,male,married,yes,partime,42,70,0,0,1700,5.0
4430,4431,0,11,rent,43,female,married,no,fixed,49,135,0,0,1200,5.0
4431,4432,1,1,rent,37,male,single,no,fixed,45,100,0,0,1150,5.0
4432,4433,0,3,other,21,female,single,no,fixed,35,176,8000,0,1200,1.5
4433,4434,1,0,other,41,male,married,yes,fixed,105,134,0,0,1000,5.0
4434,4435,1,0,other,43,male,married,no,partime,90,82,4000,0,600,5.0
4435,4436,0,3,rent,21,female,single,no,fixed,44,89,0,0,400,3.0
4436,4437,0,0,rent,31,female,married,no,others,60,104,5000,0,1300,5.0
4437,4438,1,0,other,26,female,married,no,partime,45,150,5000,0,1300,5.0
4438,4439,0,14,other,42,male,married,no,fixed,90,151,8000,6300,1000,4.0
4439,4440,1,3,other,21,female,single,no,fixed,35,85,0,0,105,3.0
4440,4441,0,4,owner,50,female,married,no,freelance,75,260,81,0,900,4.0
4441,4442,1,3,rent,39,male,married,yes,fixed,97,223,0,0,1250,4.0
4442,4443,1,8,other,49,male,married,no,freelance,105,43,3000,0,1200,5.0
4443,4444,1,4,other,28,male,married,no,partime,45,135,0,0,1350,5.0
4444,4445,0,0,owner,31,female,widow,no,freelance,35,200,4000,0,943,5.0
4445,4446,0,10,owner,28,male,married,no,freelance,45,64,4000,0,1200,5.0

In [5]:
# let’s choose about 2/3 (0.67%) of the data for learning, and the rest # for testing the model
# split data into training and testing sets
nData = len(CreditData.index)
nTrain = round(nData*0.67) 
CreditDataTrain = CreditData[:nTrain] 
CreditDataTest = CreditData[nTrain:]

In [6]:
# estimate logistic regression model on the training data 

model = smf.logit(formula='Status ~ LengthOfEmployment + Home + Age + Sex + MaritalStatus + Records + Job + Expenses + Income + Assets + Debt + LoanAmount + DurationOfLoan', data = CreditDataTrain).fit()

# results of model fit
print(model.summary())
print(model.params) 
print(model.pvalues)

Optimization terminated successfully.
         Current function value: 0.453889
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Status   No. Observations:                 2979
Model:                          Logit   Df Residuals:                     2960
Method:                           MLE   Df Model:                           18
Date:                Sun, 06 Dec 2020   Pseudo R-squ.:                  0.2373
Time:                        15:37:46   Log-Likelihood:                -1352.1
converged:                       True   LL-Null:                       -1772.9
                                        LLR p-value:                4.710e-167
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -1.5299      0.384     -3.982      0.000      -2.283      -0.777
Home[T.owner]               -0.6489      0.130     -5.003      0.000      -0.903      -0.395
Home[T.rent]                 0.1291      0.134      0.967      0.334      -0.133       0.391
Sex[T.male]                  0.0260      0.096      0.272      0.786      -0.162       0.214
MaritalStatus[T.married]    -1.2525      0.244     -5.142      0.000      -1.730      -0.775
MaritalStatus[T.single]     -0.9227      0.253     -3.647      0.000      -1.419      -0.427
MaritalStatus[T.widow]      -0.8686      0.497     -1.747      0.081      -1.843       0.106
Records[T.yes]               1.6987      0.122     13.943      0.000       1.460       1.938
Job[T.freelance]             0.6803      0.122      5.579      0.000       0.441       0.919
Job[T.others]                0.9643      0.250      3.859      0.000       0.475       1.454
Job[T.partime]               1.3488      0.152      8.856      0.000       1.050       1.647
LengthOfEmployment          -0.0809      0.009     -9.007      0.000      -0.098      -0.063
Age                          0.0136      0.006      2.244      0.025       0.002       0.025
Expenses                     0.0173      0.003      5.426      0.000       0.011       0.023
Income                      -0.0071      0.001     -8.770      0.000      -0.009      -0.005
Assets                   -3.137e-05   8.37e-06     -3.750      0.000   -4.78e-05    -1.5e-05
Debt                         0.0002   4.06e-05      4.494      0.000       0.000       0.000
LoanAmount                   0.0009      0.000      7.623      0.000       0.001       0.001
DurationOfLoan               0.0840      0.049      1.730      0.084      -0.011       0.179
============================================================================================
Intercept                  -1.529904
Home[T.owner]              -0.648912
Home[T.rent]                0.129147
Sex[T.male]                 0.026013
MaritalStatus[T.married]   -1.252457
MaritalStatus[T.single]    -0.922716
MaritalStatus[T.widow]     -0.868560
Records[T.yes]              1.698733
Job[T.freelance]            0.680317
Job[T.others]               0.964300
Job[T.partime]              1.348814
LengthOfEmployment         -0.080854
Age                         0.013558
Expenses                    0.017255
Income                     -0.007053
Assets                     -0.000031
Debt                        0.000182
LoanAmount                  0.000947
DurationOfLoan              0.084007
dtype: float64
Intercept                   6.834743e-05
Home[T.owner]               5.635791e-07
Home[T.rent]                3.335564e-01
Sex[T.male]                 7.858426e-01
MaritalStatus[T.married]    2.716639e-07
MaritalStatus[T.single]     2.657377e-04
MaritalStatus[T.widow]      8.064636e-02
Records[T.yes]              3.465579e-44
Job[T.freelance]            2.413312e-08
Job[T.others]               1.136553e-04
Job[T.partime]              8.318970e-19
LengthOfEmployment          2.117808e-19
Age                         2.481081e-02
Expenses                    5.775058e-08
Income                      1.783713e-18
Assets                      1.767999e-04
Debt                        6.991299e-06
LoanAmount                  2.471736e-14
DurationOfLoan              8.363250e-02
dtype: float64

In [7]:
#Run and store wald_test on the whole dataset
wald_values = model.wald_test_terms().table
wald_values

                     statistic                  pvalue  df_constraint
Intercept            15.856057   6.834743006936223e-05              1
Home                 39.047532  3.3184564535793915e-09              2
Sex                   0.073828      0.7858425557456905              1
MaritalStatus        27.787394   4.025033691799671e-06              3
Records             194.410018  3.4655790501962964e-44              1
Job                  95.590799   1.378300291652316e-20              3
LengthOfEmployment   81.125949   2.117807661504381e-19              1
Age                   5.037043     0.02481081087300651              1
Expenses             29.437458   5.775057735666685e-08              1
Income               76.916163  1.7837130152681534e-18              1
Assets               14.062869  0.00017679985585179655              1
Debt                 20.195616   6.991299274720753e-06              1
LoanAmount           58.115481  2.4717357079568023e-14              1
DurationOfLoan        2.992857     0.08363250010167189              1

In [8]:
#Comments
#the R squared is around 23%, which is not very high but still able to describe almost 1/4 of the total variance
#looking at the p-values, we can observe that the dummy variable "renter" (tenant), is not a statistically significant variable. 
#hence, being a tenant seems not influencing the ability to repay the loan of the individual
#however, being an owner seems instead being able to influence the ability of the individual to repay, 
#We must also point out that the home category "other" has not been included in order to avoid the multicollinearity problem

#Also the "Sex" dummy variable seems not able to influence the ability to repay of the individual, given its very high p-value

#Marital Status: while both being "Single" or "Married" seems influencing the probability to repay the loan, being "widow" has a not statistically significant coefficient

#Surprisingly, "Age" has a p-value of 2.5%, which is significant at a 95% cf. level but not at 99%. So we will remove it from our regression

#Finally, also the "Duration of the loan" seems not influencing the probability of repaying the loan

####COMMENTS ON THE COEFFICIENTS!!!
#if coefficient is positive, it means that the variable influences positively (increases) the probability of default
#explain why those variables have certain coefficients
#e.g. "Income"
#income has a negative coefficient so it influences negatively (decreases) the probability of default of the loan.
#we could easily expect that, the higher the income, more resources has the individual to pay the coupons etc.

In [9]:
#we remove all the regressors which are not significant at least at the 99% cf. level (missing the removal of the dummy variables)
model = smf.logit(formula='Status ~ LengthOfEmployment + Home  + MaritalStatus+ Records + Job + Expenses + Income + Assets + Debt + LoanAmount', data = CreditDataTrain).fit()

# results of model fit
print(model.summary())
print(model.params) 
print(model.pvalues)

Optimization terminated successfully.
         Current function value: 0.455223
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Status   No. Observations:                 2979
Model:                          Logit   Df Residuals:                     2963
Method:                           MLE   Df Model:                           15
Date:                Sun, 06 Dec 2020   Pseudo R-squ.:                  0.2351
Time:                        15:37:47   Log-Likelihood:                -1356.1
converged:                       True   LL-Null:                       -1772.9
                                        LLR p-value:                5.876e-168
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -0.8478      0.295     -2.874      0.004      -1.426      -0.270
Home[T.owner]               -0.6177      0.129     -4.803      0.000      -0.870      -0.366
Home[T.rent]                 0.1446      0.133      1.085      0.278      -0.117       0.406
MaritalStatus[T.married]    -1.2603      0.243     -5.190      0.000      -1.736      -0.784
MaritalStatus[T.single]     -1.0402      0.248     -4.189      0.000      -1.527      -0.554
MaritalStatus[T.widow]      -0.7889      0.498     -1.585      0.113      -1.764       0.187
Records[T.yes]               1.7013      0.121     14.009      0.000       1.463       1.939
Job[T.freelance]             0.6679      0.119      5.606      0.000       0.434       0.901
Job[T.others]                1.0805      0.242      4.458      0.000       0.605       1.556
Job[T.partime]               1.3313      0.152      8.786      0.000       1.034       1.628
LengthOfEmployment          -0.0736      0.008     -8.763      0.000      -0.090      -0.057
Expenses                     0.0176      0.003      5.570      0.000       0.011       0.024
Income                      -0.0071      0.001     -8.850      0.000      -0.009      -0.006
Assets                   -3.076e-05   8.14e-06     -3.780      0.000   -4.67e-05   -1.48e-05
Debt                         0.0002   3.96e-05      4.370      0.000    9.54e-05       0.000
LoanAmount                   0.0010      0.000      9.531      0.000       0.001       0.001
============================================================================================
Intercept                  -0.847768
Home[T.owner]              -0.617745
Home[T.rent]                0.144564
MaritalStatus[T.married]   -1.260280
MaritalStatus[T.single]    -1.040189
MaritalStatus[T.widow]     -0.788932
Records[T.yes]              1.701257
Job[T.freelance]            0.667919
Job[T.others]               1.080485
Job[T.partime]              1.331301
LengthOfEmployment         -0.073600
Expenses                    0.017632
Income                     -0.007106
Assets                     -0.000031
Debt                        0.000173
LoanAmount                  0.001045
dtype: float64
Intercept                   4.058352e-03
Home[T.owner]               1.559596e-06
Home[T.rent]                2.779659e-01
MaritalStatus[T.married]    2.106709e-07
MaritalStatus[T.single]     2.797091e-05
MaritalStatus[T.widow]      1.129581e-01
Records[T.yes]              1.378154e-44
Job[T.freelance]            2.065374e-08
Job[T.others]               8.271870e-06
Job[T.partime]              1.554899e-18
LengthOfEmployment          1.896998e-18
Expenses                    2.543402e-08
Income                      8.755396e-19
Assets                      1.566439e-04
Debt                        1.240675e-05
LoanAmount                  1.565205e-21
dtype: float64

In [10]:
#we can observe only a very slight increase in the R squared of our model

In [11]:
#Re-run the wald_test, but only on the cleaned data
wald_values = model.wald_test_terms().table
wald_values

                     statistic                  pvalue  df_constraint
Intercept             8.257521     0.00405835187705181              1
Home                 37.300654   7.948148713768364e-09              2
MaritalStatus        27.579513   4.450269159390369e-06              3
Records             196.244987    1.37815429686104e-44              1
Job                  97.711565   4.824969965765579e-21              3
LengthOfEmployment   76.794556  1.8969976436611555e-18              1
Expenses             31.027943  2.5434024650110822e-08              1
Income               78.321718   8.755396239937548e-19              1
Assets               14.290615  0.00015664388465902682              1
Debt                 19.099652  1.2406749344168264e-05              1
LoanAmount           90.830519  1.5652049261556841e-21              1

In [12]:
#Making predictions on the test data
prediction = model.predict(CreditDataTest)

In [13]:
CreditDataTest['Prediction']= prediction

C:\Users\hp\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [14]:
#Mapping probability greater than 50% to default (1) and otherwise to no default (0)
Prediction_1 = CreditDataTest['Prediction']>0.5
CreditDataTest['DefaultPrediction'] = Prediction_1

C:\Users\hp\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [15]:
CreditDataTest

,No,Status,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan,Prediction,DefaultPrediction
2979,2980,0,5,owner,34,female,married,no,fixed,45,137,20000,0,3000,3.0,0.320128,False
2980,2981,0,10,other,36,male,married,no,fixed,90,172,3000,0,1100,5.0,0.194387,False
2981,2982,0,12,owner,28,male,married,no,fixed,45,148,3500,144,1350,5.0,0.073184,False
2982,2983,0,35,owner,55,female,married,no,freelance,60,84,13000,0,1390,4.0,0.042300,False
2983,2984,0,10,owner,40,male,married,no,freelance,90,301,2000,0,1100,5.0,0.094711,False
2984,2985,0,11,rent,29,female,single,no,fixed,44,93,0,0,700,1.0,0.153646,False
2985,2986,1,0,owner,64,male,widow,no,others,35,100,8000,0,1980,5.0,0.635568,True
2986,2987,1,3,owner,26,female,single,no,freelance,35,169,60000,3000,800,3.0,0.041780,False
2987,2988,1,20,owner,43,female,married,yes,fixed,45,120,10000,0,2000,5.0,0.315875,False
2988,2989,0,26,owner,55,female,married,no,fixed,60,110,10000,0,1500,5.0,0.042994,False
2989,2990,0,13,owner,31,female,married,no,fixed,45,180,7500,1400,1200,5.0,0.052042,False
2990,2991,0,1,rent,64,female,married,no,others,74,137,3500,0,600,4.0,0.473587,False
2991,2992,0,25,owner,42,male,married,no,fixed,60,133,9500,0,1500,5.0,0.040033,False
2992,2993,0,7,owner,44,male,married,no,freelance,90,190,10000,0,1350,5.0,0.225711,False
2993,2994,1,11,owner,45,male,married,yes,fixed,105,235,2000,670,1400,5.0,0.466368,False
2994,2995,0,5,other,22,male,single,no,fixed,35,80,0,0,600,1.5,0.170782,False
2995,2996,0,10,rent,53,female,married,no,fixed,48,127,0,0,500,4.0,0.096836,False
2996,2997,0,20,owner,63,male,married,no,fixed,45,256,7000,0,1000,5.0,0.012208,False
2997,2998,0,1,rent,28,male,married,no,freelance,75,91,0,0,400,4.0,0.431626,False
2998,2999,1,2,other,23,male,single,yes,partime,35,75,0,0,1100,5.0,0.903036,True
2999,3000,0,1,owner,27,male,married,no,partime,45,149,2000,0,700,1.5,0.256702,False
3000,3001,0,11,owner,38,female,married,no,fixed,60,153,3000,0,1650,5.0,0.126511,False
3001,3002,0,1,rent,27,female,single,no,fixed,62,270,0,0,600,3.0,0.117626,False
3002,3003,1,2,owner,41,female,married,no,fixed,60,142,4000,0,2000,4.0,0.298067,False
3003,3004,0,15,owner,50,female,married,yes,fixed,35,112,4000,0,1150,5.0,0.226498,False
3004,3005,1,29,owner,52,female,married,no,partime,45,175,2500,0,1186,5.0,0.056461,False
3005,3006,0,1,other,40,male,married,no,fixed,75,121,0,0,1320,4.0,0.416000,False
3006,3007,1,0,other,20,male,single,no,fixed,35,79,0,0,1570,5.0,0.452376,False
3007,3008,1,30,owner,57,male,married,yes,freelance,75,290,42,0,350,1.5,0.050296,False
3008,3009,0,4,owner,33,male,married,no,fixed,75,128,3500,100,400,5.0,0.092834,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416,4417,0,18,owner,38,female,married,no,freelance,75,229,8000,0,1700,3.5,0.103724,False
4417,4418,0,4,other,43,male,married,no,freelance,45,125,0,0,400,2.0,0.196053,False
4418,4419,1,2,other,49,female,married,yes,others,45,50,0,0,1600,3.0,0.933213,True
4419,4420,0,5,other,50,male,married,no,others,90,154,0,0,1000,3.0,0.535536,True
4420,4421,1,0,owner,33,female,married,no,partime,45,128,4500,0,1250,5.0,0.415234,False
4421,4422,0,16,owner,40,female,married,no,fixed,60,160,4000,0,1300,3.0,0.060284,False
4422,4423,0,4,other,26,male,single,no,fixed,35,104,2500,2000,1048,5.0,0.280982,False
4423,4424,0,3,other,23,female,single,no,fixed,35,107,0,0,800,5.0,0.195338,False
4424,4425,0,3,owner,36,male,single,yes,freelance,35,394,16000,0,1500,3.0,0.187852,False
4425,4426,0,17,owner,33,female,married,no,fixed,60,115,6700,2000,1000,3.0,0.072363,False
4426,4427,0,11,owner,33,male,married,no,fixed,60,106,6000,0,1500,5.0,0.136192,False
4427,4428,0,6,owner,34,male,married,yes,fixed,60,148,9000,4090,500,3.0,0.376052,False
4428,4429,0,16,rent,32,male,single,yes,fixed,47,120,0,0,800,4.0,0.399524,False
4429,4430,1,1,rent,24,male,married,yes,partime,42,70,0,0,1700,5.0,0.953275,True
4430,4431,0,11,rent,43,female,married,no,fixed,49,135,0,0,1200,5.0,0.166033,False
4431,4432,1,1,rent,37,male,single,no,fixed,45,100,0,0,1150,5.0,0.370047,False
4432,4433,0,3,other,21,female,single,no,fixed,35,176,8000,0,1200,1.5,0.150083,False
4433,4434,1,0,other,41,male,married,yes,fixed,105,134,0,0,1000,5.0,0.823138,True
4434,4435,1,0,other,43,male,married,no,partime,90,82,4000,0,600,5.0,0.675166,True
4435,4436,0,3,rent,21,female,single,no,fixed,44,89,0,0,400,3.0,0.197397,False
4436,4437,0,0,rent,31,female,married,no,others,60,104,5000,0,1300,5.0,0.654986,True
4437,4438,1,0,other,26,female,married,no,partime,45,150,5000,0,1300,5.0,0.538906,True
4438,4439,0,14,other,42,male,married,no,fixed,90,151,8000,6300,1000,4.0,0.324053,False
4439,4440,1,3,other,21,female,single,no,fixed,35,85,0,0,105,3.0,0.120698,False
4440,4441,0,4,owner,50,female,married,no,freelance,75,260,81,0,900,4.0,0.125756,False
4441,4442,1,3,rent,39,male,married,yes,fixed,97,223,0,0,1250,4.0,0.720992,True
4442,4443,1,8,other,49,male,married,no,freelance,105,43,3000,0,1200,5.0,0.663513,True
4443,4444,1,4,other,28,male,married,no,partime,45,135,0,0,1350,5.0,0.543438,True
4444,4445,0,0,owner,31,female,widow,no,freelance,35,200,4000,0,943,5.0,0.178310,False
4445,4446,0,10,owner,28,male,married,no,freelance,45,64,4000,0,1200,5.0,0.210174,False

In [16]:
CreditDataTest['DefaultPrediction'] = CreditDataTest['DefaultPrediction']*1

C:\Users\hp\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
CreditDataTest

,No,Status,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan,Prediction,DefaultPrediction
2979,2980,0,5,owner,34,female,married,no,fixed,45,137,20000,0,3000,3.0,0.320128,0
2980,2981,0,10,other,36,male,married,no,fixed,90,172,3000,0,1100,5.0,0.194387,0
2981,2982,0,12,owner,28,male,married,no,fixed,45,148,3500,144,1350,5.0,0.073184,0
2982,2983,0,35,owner,55,female,married,no,freelance,60,84,13000,0,1390,4.0,0.042300,0
2983,2984,0,10,owner,40,male,married,no,freelance,90,301,2000,0,1100,5.0,0.094711,0
2984,2985,0,11,rent,29,female,single,no,fixed,44,93,0,0,700,1.0,0.153646,0
2985,2986,1,0,owner,64,male,widow,no,others,35,100,8000,0,1980,5.0,0.635568,1
2986,2987,1,3,owner,26,female,single,no,freelance,35,169,60000,3000,800,3.0,0.041780,0
2987,2988,1,20,owner,43,female,married,yes,fixed,45,120,10000,0,2000,5.0,0.315875,0
2988,2989,0,26,owner,55,female,married,no,fixed,60,110,10000,0,1500,5.0,0.042994,0
2989,2990,0,13,owner,31,female,married,no,fixed,45,180,7500,1400,1200,5.0,0.052042,0
2990,2991,0,1,rent,64,female,married,no,others,74,137,3500,0,600,4.0,0.473587,0
2991,2992,0,25,owner,42,male,married,no,fixed,60,133,9500,0,1500,5.0,0.040033,0
2992,2993,0,7,owner,44,male,married,no,freelance,90,190,10000,0,1350,5.0,0.225711,0
2993,2994,1,11,owner,45,male,married,yes,fixed,105,235,2000,670,1400,5.0,0.466368,0
2994,2995,0,5,other,22,male,single,no,fixed,35,80,0,0,600,1.5,0.170782,0
2995,2996,0,10,rent,53,female,married,no,fixed,48,127,0,0,500,4.0,0.096836,0
2996,2997,0,20,owner,63,male,married,no,fixed,45,256,7000,0,1000,5.0,0.012208,0
2997,2998,0,1,rent,28,male,married,no,freelance,75,91,0,0,400,4.0,0.431626,0
2998,2999,1,2,other,23,male,single,yes,partime,35,75,0,0,1100,5.0,0.903036,1
2999,3000,0,1,owner,27,male,married,no,partime,45,149,2000,0,700,1.5,0.256702,0
3000,3001,0,11,owner,38,female,married,no,fixed,60,153,3000,0,1650,5.0,0.126511,0
3001,3002,0,1,rent,27,female,single,no,fixed,62,270,0,0,600,3.0,0.117626,0
3002,3003,1,2,owner,41,female,married,no,fixed,60,142,4000,0,2000,4.0,0.298067,0
3003,3004,0,15,owner,50,female,married,yes,fixed,35,112,4000,0,1150,5.0,0.226498,0
3004,3005,1,29,owner,52,female,married,no,partime,45,175,2500,0,1186,5.0,0.056461,0
3005,3006,0,1,other,40,male,married,no,fixed,75,121,0,0,1320,4.0,0.416000,0
3006,3007,1,0,other,20,male,single,no,fixed,35,79,0,0,1570,5.0,0.452376,0
3007,3008,1,30,owner,57,male,married,yes,freelance,75,290,42,0,350,1.5,0.050296,0
3008,3009,0,4,owner,33,male,married,no,fixed,75,128,3500,100,400,5.0,0.092834,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416,4417,0,18,owner,38,female,married,no,freelance,75,229,8000,0,1700,3.5,0.103724,0
4417,4418,0,4,other,43,male,married,no,freelance,45,125,0,0,400,2.0,0.196053,0
4418,4419,1,2,other,49,female,married,yes,others,45,50,0,0,1600,3.0,0.933213,1
4419,4420,0,5,other,50,male,married,no,others,90,154,0,0,1000,3.0,0.535536,1
4420,4421,1,0,owner,33,female,married,no,partime,45,128,4500,0,1250,5.0,0.415234,0
4421,4422,0,16,owner,40,female,married,no,fixed,60,160,4000,0,1300,3.0,0.060284,0
4422,4423,0,4,other,26,male,single,no,fixed,35,104,2500,2000,1048,5.0,0.280982,0
4423,4424,0,3,other,23,female,single,no,fixed,35,107,0,0,800,5.0,0.195338,0
4424,4425,0,3,owner,36,male,single,yes,freelance,35,394,16000,0,1500,3.0,0.187852,0
4425,4426,0,17,owner,33,female,married,no,fixed,60,115,6700,2000,1000,3.0,0.072363,0
4426,4427,0,11,owner,33,male,married,no,fixed,60,106,6000,0,1500,5.0,0.136192,0
4427,4428,0,6,owner,34,male,married,yes,fixed,60,148,9000,4090,500,3.0,0.376052,0
4428,4429,0,16,rent,32,male,single,yes,fixed,47,120,0,0,800,4.0,0.399524,0
4429,4430,1,1,rent,24,male,married,yes,partime,42,70,0,0,1700,5.0,0.953275,1
4430,4431,0,11,rent,43,female,married,no,fixed,49,135,0,0,1200,5.0,0.166033,0
4431,4432,1,1,rent,37,male,single,no,fixed,45,100,0,0,1150,5.0,0.370047,0
4432,4433,0,3,other,21,female,single,no,fixed,35,176,8000,0,1200,1.5,0.150083,0
4433,4434,1,0,other,41,male,married,yes,fixed,105,134,0,0,1000,5.0,0.823138,1
4434,4435,1,0,other,43,male,married,no,partime,90,82,4000,0,600,5.0,0.675166,1
4435,4436,0,3,rent,21,female,single,no,fixed,44,89,0,0,400,3.0,0.197397,0
4436,4437,0,0,rent,31,female,married,no,others,60,104,5000,0,1300,5.0,0.654986,1
4437,4438,1,0,other,26,female,married,no,partime,45,150,5000,0,1300,5.0,0.538906,1
4438,4439,0,14,other,42,male,married,no,fixed,90,151,8000,6300,1000,4.0,0.324053,0
4439,4440,1,3,other,21,female,single,no,fixed,35,85,0,0,105,3.0,0.120698,0
4440,4441,0,4,owner,50,female,married,no,freelance,75,260,81,0,900,4.0,0.125756,0
4441,4442,1,3,rent,39,male,married,yes,fixed,97,223,0,0,1250,4.0,0.720992,1
4442,4443,1,8,other,49,male,married,no,freelance,105,43,3000,0,1200,5.0,0.663513,1
4443,4444,1,4,other,28,male,married,no,partime,45,135,0,0,1350,5.0,0.543438,1
4444,4445,0,0,owner,31,female,widow,no,freelance,35,200,4000,0,943,5.0,0.178310,0
4445,4446,0,10,owner,28,male,married,no,freelance,45,64,4000,0,1200,5.0,0.210174,0

In [18]:
#Checking the accuracy of predictions on the test data
Accuracy0 = (CreditDataTest['Status']== CreditDataTest['DefaultPrediction'])
Accuracy0 = sum(Accuracy0)
Accuracy = Accuracy0/len(CreditDataTest)
print('The Accuracy is', Accuracy)

The Accuracy is 0.799591002045

In [19]:
#Confusion Matrix and Classification Report
print('Confusion Matrix')
print(confusion_matrix(CreditDataTest['Status'],CreditDataTest['DefaultPrediction']))
print('\nClassification Report\n')
print(classification_report(CreditDataTest['Status'],CreditDataTest['DefaultPrediction']))

Confusion Matrix
[[955 104]
 [190 218]]

Classification Report

             precision    recall  f1-score   support

          0       0.83      0.90      0.87      1059
          1       0.68      0.53      0.60       408

avg / total       0.79      0.80      0.79      1467

In [20]:
## Loans approval
#Loading the data
CreditApplicants = pd.read_excel("CreditApplicants2020.xls")

In [21]:
CreditApplicants

,ApplicantNo,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan
0,1,0,owner,28,female,married,no,fixed,45,80,1500,0,1260,4.0
1,2,21,other,51,male,married,no,fixed,45,140,3000,0,1200,5.0
2,3,0,rent,37,female,married,no,others,88,130,0,0,250,1.0
3,4,12,owner,64,female,single,yes,freelance,60,341,4500,0,900,3.0
4,5,2,owner,33,female,married,no,freelance,75,220,16000,500,3000,3.0
5,6,3,owner,30,male,divorced,no,fixed,60,157,15000,0,1000,5.0
6,7,9,rent,40,female,single,no,fixed,44,91,0,0,1000,5.0
7,8,4,other,50,female,married,no,freelance,60,150,7000,0,900,3.5

In [22]:
#Predicting the probablity of default
applicants_prediction = model.predict(CreditApplicants)
CreditApplicants['Default probabilities']= applicants_prediction

In [23]:
#Approving loans where default probability according to the model is below 25%
ApproveTF = CreditApplicants['Default probabilities'] < 0.25
CreditApplicants['Approve T/F']= ApproveTF
CreditApplicants

,ApplicantNo,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan,Default probabilities,Approve T/F
0,1,0,owner,28,female,married,no,fixed,45,80,1500,0,1260,4.0,0.226205,True
1,2,21,other,51,male,married,no,fixed,45,140,3000,0,1200,5.0,0.063393,True
2,3,0,rent,37,female,married,no,others,88,130,0,0,250,1.0,0.501565,False
3,4,12,owner,64,female,single,yes,freelance,60,341,4500,0,900,3.0,0.170451,True
4,5,2,owner,33,female,married,no,freelance,75,220,16000,500,3000,3.0,0.570603,False
5,6,3,owner,30,male,divorced,no,fixed,60,157,15000,0,1000,5.0,0.238654,True
6,7,9,rent,40,female,single,no,fixed,44,91,0,0,1000,5.0,0.225956,True
7,8,4,other,50,female,married,no,freelance,60,150,7000,0,900,3.5,0.265615,False

In [24]:
#Displaying loans that will be rejected
CreditApplicants[CreditApplicants['Approve T/F'] == 0]

,ApplicantNo,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan,Default probabilities,Approve T/F
2,3,0,rent,37,female,married,no,others,88,130,0,0,250,1.0,0.501565,False
4,5,2,owner,33,female,married,no,freelance,75,220,16000,500,3000,3.0,0.570603,False
7,8,4,other,50,female,married,no,freelance,60,150,7000,0,900,3.5,0.265615,False

In [25]:
#Only applicants no. 3, 5 and 8 will see their loan application refused.