In [1]:
import pandas as pd
import numpy as np
#pd.options.display

In [3]:
CreditData = pd.read_excel('E:/Desktop/Github/Credit Risk Management on Loan Issuance/CreditData.xls', index_col = 0)
print(CreditData.head())
print(CreditData.describe())

    Status  LengthOfEmployment   Home  Age     Sex MaritalStatus Records  \
No
1        0                   5  other   23  female        single      no
2        0                  23   rent   47    male        single      no
3        0                  19  other   55    male       married      no
4        0                  12   rent   37  female       married     yes
5        0                   3  other   21  female        single     yes

      Job  Expenses  Income  Assets  Debt  LoanAmount  DurationOfLoan
No
1   fixed        35     120       0     0        1300             5.0
2   fixed        44      86       0     0         350             2.0
3   fixed        45     118    4000     0        1300             5.0
4   fixed        86     110       0     0         700             5.0
5   fixed        35      75       0     0         500             1.5
            Status  LengthOfEmployment          Age     Expenses       Income  \
count  4446.000000         4446.000000  4446.000000  4446.000000  4446.000000
mean      0.280927            7.944894    37.084121    55.601439   140.629780
std       0.449502            8.127658    10.986366    19.520839    80.177896
min       0.000000            0.000000    18.000000    35.000000     1.000000
25%       0.000000            2.000000    28.000000    35.000000    90.000000
50%       0.000000            5.000000    36.000000    51.000000   124.000000
75%       1.000000           12.000000    45.000000    72.000000   170.000000
max       1.000000           46.000000    68.000000   180.000000   959.000000

              Assets          Debt   LoanAmount  DurationOfLoan
count    4446.000000   4446.000000  4446.000000     4446.000000
mean     5354.948943    342.257085  1038.763383        3.871120
std     11534.328183   1244.694549   474.747952        1.220665
min         0.000000      0.000000   100.000000        0.500000
25%         0.000000      0.000000   700.000000        3.000000
50%      3000.000000      0.000000  1000.000000        4.000000
75%      6000.000000      0.000000  1300.000000        5.000000
max    300000.000000  30000.000000  5000.000000        6.000000

In [4]:
nData = len(CreditData.index)
nTrain = round(nData * 0.67)
CreditTrain = CreditData[:nTrain]
CreditTest = CreditData[nTrain:]

In [5]:
logit_y = 'Status~'
for i in CreditTrain.columns:
    if i != 'Status':
        logit_y += '+' + i
logit_y

'Status~+LengthOfEmployment+Home+Age+Sex+MaritalStatus+Records+Job+Expenses+Income+Assets+Debt+LoanAmount+DurationOfLoan'

In [6]:
import statsmodels.formula.api as smf
yTrain = CreditTrain['Status']

# Change to dummy variable
xTrain = CreditTrain.drop(['Status'], axis = 1)

In [7]:
model = smf.logit(logit_y, data = CreditTrain).fit()
print(model.summary())
print(model.params)
print(model.pvalues)

Optimization terminated successfully.
         Current function value: 0.453889
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Status   No. Observations:                 2979
Model:                          Logit   Df Residuals:                     2960
Method:                           MLE   Df Model:                           18
Date:                Tue, 23 Feb 2021   Pseudo R-squ.:                  0.2373
Time:                        13:24:28   Log-Likelihood:                -1352.1
converged:                       True   LL-Null:                       -1772.9
                                        LLR p-value:                4.710e-167
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -1.5299      0.384     -3.982      0.000      -2.283      -0.777
Home[T.owner]               -0.6489      0.130     -5.003      0.000      -0.903      -0.395
Home[T.rent]                 0.1291      0.134      0.967      0.334      -0.133       0.391
Sex[T.male]                  0.0260      0.096      0.272      0.786      -0.162       0.214
MaritalStatus[T.married]    -1.2525      0.244     -5.142      0.000      -1.730      -0.775
MaritalStatus[T.single]     -0.9227      0.253     -3.647      0.000      -1.419      -0.427
MaritalStatus[T.widow]      -0.8686      0.497     -1.747      0.081      -1.843       0.106
Records[T.yes]               1.6987      0.122     13.943      0.000       1.460       1.938
Job[T.freelance]             0.6803      0.122      5.579      0.000       0.441       0.919
Job[T.others]                0.9643      0.250      3.859      0.000       0.475       1.454
Job[T.partime]               1.3488      0.152      8.856      0.000       1.050       1.647
LengthOfEmployment          -0.0809      0.009     -9.007      0.000      -0.098      -0.063
Age                          0.0136      0.006      2.244      0.025       0.002       0.025
Expenses                     0.0173      0.003      5.426      0.000       0.011       0.023
Income                      -0.0071      0.001     -8.770      0.000      -0.009      -0.005
Assets                   -3.137e-05   8.37e-06     -3.750      0.000   -4.78e-05    -1.5e-05
Debt                         0.0002   4.06e-05      4.494      0.000       0.000       0.000
LoanAmount                   0.0009      0.000      7.623      0.000       0.001       0.001
DurationOfLoan               0.0840      0.049      1.730      0.084      -0.011       0.179
============================================================================================
Intercept                  -1.529904
Home[T.owner]              -0.648912
Home[T.rent]                0.129147
Sex[T.male]                 0.026013
MaritalStatus[T.married]   -1.252457
MaritalStatus[T.single]    -0.922716
MaritalStatus[T.widow]     -0.868560
Records[T.yes]              1.698733
Job[T.freelance]            0.680317
Job[T.others]               0.964300
Job[T.partime]              1.348814
LengthOfEmployment         -0.080854
Age                         0.013558
Expenses                    0.017255
Income                     -0.007053
Assets                     -0.000031
Debt                        0.000182
LoanAmount                  0.000947
DurationOfLoan              0.084007
dtype: float64
Intercept                   6.834743e-05
Home[T.owner]               5.635791e-07
Home[T.rent]                3.335564e-01
Sex[T.male]                 7.858426e-01
MaritalStatus[T.married]    2.716639e-07
MaritalStatus[T.single]     2.657377e-04
MaritalStatus[T.widow]      8.064636e-02
Records[T.yes]              3.465579e-44
Job[T.freelance]            2.413312e-08
Job[T.others]               1.136553e-04
Job[T.partime]              8.318970e-19
LengthOfEmployment          2.117808e-19
Age                         2.481081e-02
Expenses                    5.775058e-08
Income                      1.783713e-18
Assets                      1.767999e-04
Debt                        6.991299e-06
LoanAmount                  2.471736e-14
DurationOfLoan              8.363250e-02
dtype: float64

In [12]:
# Run and store wald_test on the whole datasetand find out non-significant parameters
wald_values = model.wald_test_terms().table
wald_values

                     statistic                  pvalue  df_constraint
Intercept            15.856057   6.834743006936223e-05              1
Home                 39.047532  3.3184564535793915e-09              2
Sex                   0.073828      0.7858425557456905              1
MaritalStatus        27.787394   4.025033691799671e-06              3
Records             194.410018  3.4655790501962964e-44              1
Job                  95.590799   1.378300291652316e-20              3
LengthOfEmployment   81.125949   2.117807661504381e-19              1
Age                   5.037043     0.02481081087300651              1
Expenses             29.437458   5.775057735666685e-08              1
Income               76.916163  1.7837130152681534e-18              1
Assets               14.062869  0.00017679985585179655              1
Debt                 20.195616   6.991299274720753e-06              1
LoanAmount           58.115481  2.4717357079568023e-14              1
DurationOfLoan        2.992857     0.08363250010167189              1

In [13]:
logit_y2 = 'Status~+LengthOfEmployment+Home+MaritalStatus+Records+Job+Expenses+Income+Assets+Debt+LoanAmount'
model_2 = smf.logit(logit_y2, data = CreditTrain).fit()
print(model_2.summary())
print(model_2.params)
print(model_2.pvalues)

Optimization terminated successfully.
         Current function value: 0.455223
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Status   No. Observations:                 2979
Model:                          Logit   Df Residuals:                     2963
Method:                           MLE   Df Model:                           15
Date:                Tue, 23 Feb 2021   Pseudo R-squ.:                  0.2351
Time:                        13:28:03   Log-Likelihood:                -1356.1
converged:                       True   LL-Null:                       -1772.9
                                        LLR p-value:                5.876e-168
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -0.8478      0.295     -2.874      0.004      -1.426      -0.270
Home[T.owner]               -0.6177      0.129     -4.803      0.000      -0.870      -0.366
Home[T.rent]                 0.1446      0.133      1.085      0.278      -0.117       0.406
MaritalStatus[T.married]    -1.2603      0.243     -5.190      0.000      -1.736      -0.784
MaritalStatus[T.single]     -1.0402      0.248     -4.189      0.000      -1.527      -0.554
MaritalStatus[T.widow]      -0.7889      0.498     -1.585      0.113      -1.764       0.187
Records[T.yes]               1.7013      0.121     14.009      0.000       1.463       1.939
Job[T.freelance]             0.6679      0.119      5.606      0.000       0.434       0.901
Job[T.others]                1.0805      0.242      4.458      0.000       0.605       1.556
Job[T.partime]               1.3313      0.152      8.786      0.000       1.034       1.628
LengthOfEmployment          -0.0736      0.008     -8.763      0.000      -0.090      -0.057
Expenses                     0.0176      0.003      5.570      0.000       0.011       0.024
Income                      -0.0071      0.001     -8.850      0.000      -0.009      -0.006
Assets                   -3.076e-05   8.14e-06     -3.780      0.000   -4.67e-05   -1.48e-05
Debt                         0.0002   3.96e-05      4.370      0.000    9.54e-05       0.000
LoanAmount                   0.0010      0.000      9.531      0.000       0.001       0.001
============================================================================================
Intercept                  -0.847768
Home[T.owner]              -0.617745
Home[T.rent]                0.144564
MaritalStatus[T.married]   -1.260280
MaritalStatus[T.single]    -1.040189
MaritalStatus[T.widow]     -0.788932
Records[T.yes]              1.701257
Job[T.freelance]            0.667919
Job[T.others]               1.080485
Job[T.partime]              1.331301
LengthOfEmployment         -0.073600
Expenses                    0.017632
Income                     -0.007106
Assets                     -0.000031
Debt                        0.000173
LoanAmount                  0.001045
dtype: float64
Intercept                   4.058352e-03
Home[T.owner]               1.559596e-06
Home[T.rent]                2.779659e-01
MaritalStatus[T.married]    2.106709e-07
MaritalStatus[T.single]     2.797091e-05
MaritalStatus[T.widow]      1.129581e-01
Records[T.yes]              1.378154e-44
Job[T.freelance]            2.065374e-08
Job[T.others]               8.271870e-06
Job[T.partime]              1.554899e-18
LengthOfEmployment          1.896998e-18
Expenses                    2.543402e-08
Income                      8.755396e-19
Assets                      1.566439e-04
Debt                        1.240675e-05
LoanAmount                  1.565205e-21
dtype: float64

In [14]:
#Re-run the wald_test, but only on the cleaned data
wald_values = model_2.wald_test_terms().table
wald_values

                     statistic                  pvalue  df_constraint
Intercept             8.257521     0.00405835187705181              1
Home                 37.300654   7.948148713768364e-09              2
MaritalStatus        27.579513   4.450269159390369e-06              3
Records             196.244987    1.37815429686104e-44              1
Job                  97.711565   4.824969965765579e-21              3
LengthOfEmployment   76.794556  1.8969976436611555e-18              1
Expenses             31.027943  2.5434024650110822e-08              1
Income               78.321718   8.755396239937548e-19              1
Assets               14.290615  0.00015664388465902682              1
Debt                 19.099652  1.2406749344168264e-05              1
LoanAmount           90.830519  1.5652049261556841e-21              1

In [15]:
preds = model_2.predict(CreditTest)
Default = pd.Series([ 1 if x > 0.5 else 0 for x in preds], index = CreditTest.index)

In [16]:
CreditTest['Prediction'] = preds
CreditTest['Status_pred'] = Default
CreditTest

C:\Users\hp\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\hp\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Status,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan,Prediction,Status_pred
No,,,,,,,,,,,,,,,,
2980,0,5,owner,34,female,married,no,fixed,45,137,20000,0,3000,3.0,0.320128,0
2981,0,10,other,36,male,married,no,fixed,90,172,3000,0,1100,5.0,0.194387,0
2982,0,12,owner,28,male,married,no,fixed,45,148,3500,144,1350,5.0,0.073184,0
2983,0,35,owner,55,female,married,no,freelance,60,84,13000,0,1390,4.0,0.042300,0
2984,0,10,owner,40,male,married,no,freelance,90,301,2000,0,1100,5.0,0.094711,0
2985,0,11,rent,29,female,single,no,fixed,44,93,0,0,700,1.0,0.153646,0
2986,1,0,owner,64,male,widow,no,others,35,100,8000,0,1980,5.0,0.635568,1
2987,1,3,owner,26,female,single,no,freelance,35,169,60000,3000,800,3.0,0.041780,0
2988,1,20,owner,43,female,married,yes,fixed,45,120,10000,0,2000,5.0,0.315875,0
2989,0,26,owner,55,female,married,no,fixed,60,110,10000,0,1500,5.0,0.042994,0
2990,0,13,owner,31,female,married,no,fixed,45,180,7500,1400,1200,5.0,0.052042,0
2991,0,1,rent,64,female,married,no,others,74,137,3500,0,600,4.0,0.473587,0
2992,0,25,owner,42,male,married,no,fixed,60,133,9500,0,1500,5.0,0.040033,0
2993,0,7,owner,44,male,married,no,freelance,90,190,10000,0,1350,5.0,0.225711,0
2994,1,11,owner,45,male,married,yes,fixed,105,235,2000,670,1400,5.0,0.466368,0
2995,0,5,other,22,male,single,no,fixed,35,80,0,0,600,1.5,0.170782,0
2996,0,10,rent,53,female,married,no,fixed,48,127,0,0,500,4.0,0.096836,0
2997,0,20,owner,63,male,married,no,fixed,45,256,7000,0,1000,5.0,0.012208,0
2998,0,1,rent,28,male,married,no,freelance,75,91,0,0,400,4.0,0.431626,0
2999,1,2,other,23,male,single,yes,partime,35,75,0,0,1100,5.0,0.903036,1
3000,0,1,owner,27,male,married,no,partime,45,149,2000,0,700,1.5,0.256702,0
3001,0,11,owner,38,female,married,no,fixed,60,153,3000,0,1650,5.0,0.126511,0
3002,0,1,rent,27,female,single,no,fixed,62,270,0,0,600,3.0,0.117626,0
3003,1,2,owner,41,female,married,no,fixed,60,142,4000,0,2000,4.0,0.298067,0
3004,0,15,owner,50,female,married,yes,fixed,35,112,4000,0,1150,5.0,0.226498,0
3005,1,29,owner,52,female,married,no,partime,45,175,2500,0,1186,5.0,0.056461,0
3006,0,1,other,40,male,married,no,fixed,75,121,0,0,1320,4.0,0.416000,0
3007,1,0,other,20,male,single,no,fixed,35,79,0,0,1570,5.0,0.452376,0
3008,1,30,owner,57,male,married,yes,freelance,75,290,42,0,350,1.5,0.050296,0
3009,0,4,owner,33,male,married,no,fixed,75,128,3500,100,400,5.0,0.092834,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4417,0,18,owner,38,female,married,no,freelance,75,229,8000,0,1700,3.5,0.103724,0
4418,0,4,other,43,male,married,no,freelance,45,125,0,0,400,2.0,0.196053,0
4419,1,2,other,49,female,married,yes,others,45,50,0,0,1600,3.0,0.933213,1
4420,0,5,other,50,male,married,no,others,90,154,0,0,1000,3.0,0.535536,1
4421,1,0,owner,33,female,married,no,partime,45,128,4500,0,1250,5.0,0.415234,0
4422,0,16,owner,40,female,married,no,fixed,60,160,4000,0,1300,3.0,0.060284,0
4423,0,4,other,26,male,single,no,fixed,35,104,2500,2000,1048,5.0,0.280982,0
4424,0,3,other,23,female,single,no,fixed,35,107,0,0,800,5.0,0.195338,0
4425,0,3,owner,36,male,single,yes,freelance,35,394,16000,0,1500,3.0,0.187852,0
4426,0,17,owner,33,female,married,no,fixed,60,115,6700,2000,1000,3.0,0.072363,0
4427,0,11,owner,33,male,married,no,fixed,60,106,6000,0,1500,5.0,0.136192,0
4428,0,6,owner,34,male,married,yes,fixed,60,148,9000,4090,500,3.0,0.376052,0
4429,0,16,rent,32,male,single,yes,fixed,47,120,0,0,800,4.0,0.399524,0
4430,1,1,rent,24,male,married,yes,partime,42,70,0,0,1700,5.0,0.953275,1
4431,0,11,rent,43,female,married,no,fixed,49,135,0,0,1200,5.0,0.166033,0
4432,1,1,rent,37,male,single,no,fixed,45,100,0,0,1150,5.0,0.370047,0
4433,0,3,other,21,female,single,no,fixed,35,176,8000,0,1200,1.5,0.150083,0
4434,1,0,other,41,male,married,yes,fixed,105,134,0,0,1000,5.0,0.823138,1
4435,1,0,other,43,male,married,no,partime,90,82,4000,0,600,5.0,0.675166,1
4436,0,3,rent,21,female,single,no,fixed,44,89,0,0,400,3.0,0.197397,0
4437,0,0,rent,31,female,married,no,others,60,104,5000,0,1300,5.0,0.654986,1
4438,1,0,other,26,female,married,no,partime,45,150,5000,0,1300,5.0,0.538906,1
4439,0,14,other,42,male,married,no,fixed,90,151,8000,6300,1000,4.0,0.324053,0
4440,1,3,other,21,female,single,no,fixed,35,85,0,0,105,3.0,0.120698,0
4441,0,4,owner,50,female,married,no,freelance,75,260,81,0,900,4.0,0.125756,0
4442,1,3,rent,39,male,married,yes,fixed,97,223,0,0,1250,4.0,0.720992,1
4443,1,8,other,49,male,married,no,freelance,105,43,3000,0,1200,5.0,0.663513,1
4444,1,4,other,28,male,married,no,partime,45,135,0,0,1350,5.0,0.543438,1
4445,0,0,owner,31,female,widow,no,freelance,35,200,4000,0,943,5.0,0.178310,0
4446,0,10,owner,28,male,married,no,freelance,45,64,4000,0,1200,5.0,0.210174,0

In [17]:
# Accuracy of the model
accuracy = round(CreditTest[CreditTest['Status_pred'] == CreditTest['Status']]['Status'].count() / CreditTest['Status'].count(), 6)
accuracy

0.79959100000000005

In [19]:
applicant = pd.read_excel('E:/Desktop/Github/Credit Risk Management on Loan Issuance/CreditApplicants.xls', index_col = 0)
print(applicant)

             LengthOfEmployment   Home  Age     Sex MaritalStatus Records  \
ApplicantNo
1                             0  owner   28  female       married      no
2                            21  other   51    male       married      no
3                             0   rent   37  female       married      no
4                            12  owner   64  female        single     yes
5                             2  owner   33  female       married      no
6                             3  owner   30    male      divorced      no
7                             9   rent   40  female        single      no
8                             4  other   50  female       married      no

                   Job  Expenses  Income  Assets  Debt  LoanAmount  \
ApplicantNo
1                fixed        45      80    1500     0        1260
2                fixed        45     140    3000     0        1200
3               others        88     130       0     0         250
4            freelance        60     341    4500     0         900
5            freelance        75     220   16000   500        3000
6                fixed        60     157   15000     0        1000
7                fixed        44      91       0     0        1000
8            freelance        60     150    7000     0         900

             DurationOfLoan
ApplicantNo
1                       4.0
2                       5.0
3                       1.0
4                       3.0
5                       3.0
6                       5.0
7                       5.0
8                       3.5

In [20]:
applicant_preds = model_2.predict(applicant)
applicant['Default_prob'] = applicant_preds
Approval = pd.Series([ 1 if x < 0.25 else 0 for x in applicant_preds], index = applicant.index)
applicant['status_pred'] = Approval
applicant

,LengthOfEmployment,Home,Age,Sex,MaritalStatus,Records,Job,Expenses,Income,Assets,Debt,LoanAmount,DurationOfLoan,Default_prob,status_pred
ApplicantNo,,,,,,,,,,,,,,,
1,0,owner,28,female,married,no,fixed,45,80,1500,0,1260,4.0,0.226205,1
2,21,other,51,male,married,no,fixed,45,140,3000,0,1200,5.0,0.063393,1
3,0,rent,37,female,married,no,others,88,130,0,0,250,1.0,0.501565,0
4,12,owner,64,female,single,yes,freelance,60,341,4500,0,900,3.0,0.170451,1
5,2,owner,33,female,married,no,freelance,75,220,16000,500,3000,3.0,0.570603,0
6,3,owner,30,male,divorced,no,fixed,60,157,15000,0,1000,5.0,0.238654,1
7,9,rent,40,female,single,no,fixed,44,91,0,0,1000,5.0,0.225956,1
8,4,other,50,female,married,no,freelance,60,150,7000,0,900,3.5,0.265615,0

In [21]:
#!pip3 uninstall statsmodels -y
#!pip3 install statsmodels==0.10.0rc2 --pre --user